h1{
    color: red;
}
#home-intro{ 
    text-align: center;
    text-decoration: underline;
    /* border: 4px;
    border-style:dashed;
    border-color:pink; */
    border: 5px solid rgb(226, 37, 68);
    background-color: rgb(197, 214, 220);
    padding: 10px;
    margin: 10px;
}
#p2{
    color:blue;
}
#home-intro:hover{
    background-color: rgb(149, 199, 149);
}